@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

.container {
    height: 100vh;

   /* background: url("../../images/bg-login.png"); */
    background: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
}

.formHeader {
    font-family: 'Leckerli One', cursive;
    font-size: 52px;
    background: #33b0c4;
    background: -webkit-linear-gradient(
        to right,
        #409ec4,
        #15baec
    );
    background: linear-gradient(
        to right,
        #798c9b,
        #011c3b
    );

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.formHeader span {
    -webkit-text-fill-color: #668088;
}




