.allofit{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    margin-top: 2%;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    border-right: solid;
    background-color: #F9C5D5;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color: #F9C5D5;
  }
  .header{
      border-style: solid;
      border-radius: 20px;
      text-align: center;
      margin: auto;
      margin-bottom: 5%;
      width: 50%;
      height: 10%;
  }
  .modButton_{
    
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin: auto;
  }
  .inputMod{
    border-style: solid;
    border-radius: 20px;
    height: 10%;
    width: 70%;
    margin: auto;
    text-align: center;
    align-items: center;
  }
  .email{
    margin-top: 10%;
  }
  .input{
    margin-top: 2%;
  }
  .addButton{
    margin-top: 10%;
  }
  .addModerator{
    background-color: #DC829E;
    align-items: center;
    border-style: solid;
    border-color: #F9C5D5;
    border-radius: 20px;
    height: 50%;
    margin: auto;
    width: 70%;
  }