.i{
display: flex;
height: 100vh; /*full screen olmasini sagliyo*/
background-color: #f9c5d5;
}
.i-left{
    flex: 3;
    display: flex;
    align-items:center;

    justify-content:center;
    flex-direction: column;

}
.i-right{
    flex: 1;
    background-color: #e793ac;
    font-size: 10px;
    align-items:center;
    color: black;

    padding: 80px;
    font-weight: bold;
    display:flex;
    justify-content: center;


}

.i-up-left-wrapper{
    padding:50px;
    font-size: 20px;
    font-weight: bold;
    color: #bb5678;
    background-color: aliceblue;
    align-items: center;

    display: flex;
    flex-direction:column;
    justify-content: center;

    height: 100%;
    width: 100%;
    object-fit:cover;
}
.i-down-left-wrapper{
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #bb5678;
    align-items: center;

    display: flex;
    flex-direction: column;
    justify-content: cover;

    height: 100%;
    width: 100%;
    object-fit:fill;
}
.i-right-wrapper{
    padding:5px;
    font-size: 20px;
    color: black;
    font-weight: bold;
    background-color: aliceblue;
    align-items:flex-end;
 

    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.i-img{
    height: 100%;
    width: 100%;
    object-fit:fill;
    
}